development: &development
  email: do-no-reply@localhost
	host: localhost

staging: &staging
  email: do-no-reply@staging
	host: localhost

production: &production
  email: do-no-reply@production
	host: localhost

test:
  <<: *development